{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Usuarios django</title>
    <link href="{% static 'bs522/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
    {% block contenido %}

    {% endblock %}
</div>
<script src="{% static 'bs522/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>