{% extends 'base.html' %}

{% block contenido %}
    <div class="row">
        <div class="col-4">
            <h1>Registrarse</h1>

            {% if msg %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            <form action="" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="">Correo electronico</label>
                    <input type="email" class="form-control" name="email">
                </div>

                <div class="form-group">
                    <label for="">Contraseña</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <input type="submit" value="Aceptar" class="btn btn-outline-primary">

            </form>
        </div>
    </div>

{% endblock %}