{% extends 'base.html' %}
{% block contenido %}
    <div class="row">
        <div class="col-6">
            <h1>Iniciar sesion - django</h1>
            <form action="" method="post">
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                    <tr>
                        <td colspan="2">
                            <input type="submit" class="btn btn-outline-primary">
                        </td>
                    </tr>
                </table>

            </form>

        </div>
    </div>

{% endblock %}