{% extends 'base.html' %}

{% block contenido %}
    <div class="row">
        <div class="col-6">
            <h1>Registrarse - django</h1>

            <form action="" method="post">
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <tr>
                    <td colspan="2" class="text-end">
                        <input type="submit" class="btn btn-outline-primary">
                    </td>
                </tr>
            </form>
        </div>
    </div>
{% endblock %}