{% extends 'base.html' %}
{% block contenido %}
    <div class="row">
        <div class="col">
            <h1>Bienvendio {{ request.user }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h2>Usuarios manuales</h2>
            {% if request.user.is_authenticated %}
                <h3>
                    <a href="{% url 'custom_logout' %}"> Salir</a>
                </h3>
            {% else %}
                <h3>
                    <a href="{% url 'custom_login' %}"> Iniciar sesion</a>
                </h3>
                <h3>
                    <a href="{% url 'custom_register' %}"> Registrarse</a>
                </h3>
            {% endif %}
        </div>
        <!-- PERFIL DE USUARIO -->
        {% if request.user.is_authenticated %}
            <div class="row">
                <div class="col-4">
                    <form method="post" action="{% url 'custom_change_password' %}">
                        {% csrf_token %}
                        <label for="">Contraseña</label>
                        <input type="password" class="form-control" name="password">
                        <label for="">Repetir contraseña</label>
                        <input type="password" class="form-control" name="password2">
                        <input type="submit" class="btn btn-outline-primary">
                    </form>
                </div>
            </div>
        {% endif %}

    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <h2>Usuarios con formularios de django</h2>
            <h3>
                <a href="{% url 'django_register' %}"> Registrarse</a>
            </h3>
            <h3>
                <a href="{% url 'django_login' %}"> Iniciar sesion</a>
            </h3>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <div class="col-4">
            <h2>Usuarios con vistas de django</h2>

            {% if not request.user.is_authenticated %}
                <h3><a href="{% url 'login' %}"> Iniciar sesion</a></h3>
            {% else %}
                <h3><a href="{% url 'password_change' %}"> Cambiar contraseña</a></h3>
                <h3><a href="{% url 'logout' %}"> Salir</a></h3>
            {% endif %}


        </div>
    </div>

{% endblock %}